# Task 1

## 1. Install Jupyter and run first program and share the screen shot of the output

In [34]:
#first program in python

print('Hello world')

Hello world

Installed jupyter notebook and ran the first program, placed the screen shot for the same in assignement folder.

## 2. Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a comma-separated sequence on a single line.

In [13]:
output = []
for i in range(2000,3001):
    if (i % 7 == 0):
        if (i % 5 != 0):
            output.append(str(i))
print (','.join(output))

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996

## 3. Write a Python program to accept the user's first and last name and then getting them printed in the the reverse order with a space between first name and last name.

In [16]:
first_name = input("Enter your first name")
last_name = input("Enter your last name")
output = last_name + ' ' + first_name
print(output)

Enter your first name sunil
Enter your last name kumar

kumar sunil

## 4. Write a Python program to find the volume of a sphere with diameter 12 cm.

In [18]:
pi = 3.1415926535897931
d = 12.0
r = d/2
V = 4.0/3.0*pi* r**3
print('The volume of the sphere is: ',V)

The volume of the sphere is:  904.7786842338603

# Task 2:

## 1. Write a program which accepts a sequence of comma-separated numbers from console and generate a list.

In [21]:
comma_sep_number = input("Enter comma seperated numbers")
output = comma_sep_number.split(',')
print(output)

Enter comma seperated numbers 100,200,300

['100', '200', '300']

## 2. Create the below pattern using nested for loop in Python

In [33]:
n=5;
for i in range(n):
    for j in range(i):
        print ('* ', end="")
    print('')                       #to go to next line

for i in range(n,0,-1):
    for j in range(i):
        print('* ', end="")
    print('')                       #to go to next line

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

## 3. Write a Python program to reverse a word after accepting the input from the user.

In [23]:
word = input("Enter a word to get reverse of it")
output = word[::-1]
print(output)

Enter a word to get reverse of it sunil kumar

ramuk linus

## 4. Write a Python Program to print the given string in the format specified in the â€‹sample output. 
 WE, THE PEOPLE OF INDIA, having solemnly resolved to constitute India into a SOVEREIGN, SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC and to secure to all its citizens 
 
Sample Output: 
 
WE, THE PEOPLE OF INDIA,   having solemnly resolved to constitute India into a SOVEREIGN, !  
        SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC    
        and to secure to all its citizens

In [25]:
string = "WE, THE PEOPLE OF INDIA,{}having solemnly resolved to constitute India into a SOVEREIGN,{}SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC{}and to secure to all its citizens"
print(string.format('\n\t','!\n\t\t','\n\t\t'))

WE, THE PEOPLE OF INDIA,
	having solemnly resolved to constitute India into a SOVEREIGN,!
		SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC
		and to secure to all its citizens